.flex {
    display: flex;

    &-col {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }
}

.jc {
    &-centered {
        justify-content: center;
    }

    &-evenly {
        justify-content: space-evenly;
    }

    &-between {
        justify-content: space-between;
    }

    &-start {
        justify-content: flex-start;
    }

    &-end {
        justify-content: flex-end;
    }
}

.ac {

}