@import "./variables.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Roboto Flex", sans-serif;
	src: url("./fonts/RobotoFlex[slnt\,wdth\,wght\,opsz].ttf") format("woff2 supports variations"),
       url("./fonts/RobotoFlex[slnt\,wdth\,wght\,opsz].ttf") format("woff2-variations");
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

html,
body {
  padding: 0;
  margin: 0;
  
  height: 100%;
  width: 100vw;
  background: $background-gradient-dark;
}

#__next {
  height: 100%;
  width: 100vw;
}

.title-font {
  font-family: "Mitr", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  color: $primary-text-colour;
}

ul {
  list-style: circle;
  margin: 1em 0;
  padding-left: 40px;
}

@import "./shared/layout.scss";
@import "./post.scss";
