$background-gradient-dark: linear-gradient(170deg, rgba(62,62,62,1) 0%, rgba(0,0,0,1) 100%);
$background-dark: rgb(62,62,62);

$primary-colour: rgb(255, 61, 168);

$primary-text-colour: rgb(243, 243, 243);
$secondary-text-colour: darken($primary-text-colour,40%);